{% extends 'base.html.twig' %}

{% block title %}Hello PageListerController!{% endblock %}


{% block body %}

<ul data-nav>
{% for item in pages %}
    <li><a href="?p={{item}}">{{item|replace({'.html':''})}}</a></li>
{% endfor %}
</ul>

<div class="content" data-content>
    {{ content|raw }}
</div>
{% endblock %}
